<div class="weatherWidget">
	{{!-- 这里解析中间件对象中的数据 然后渲染在模板上 --}}
	{{#each partials.weatherContext.locations}}
		<div class="locations">
			<h3>{{name}}</h3>
			<a href="{{forecastUrl}}">
				<img src="{{iconUrl}}" alt="{{weather}}">{{weather}},{{temp}}
			</a>
		</div>
	{{/each}}
	<small>Source : <a href="http://www.wunderground.com">Weather wunderGround</a></small>
</div>